<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Entry details</h2>
<ul style="list-style: none; margin: 0; padding: 0;">
    <li style="margin: 0.8em 1.2em;"><h2 style="color: #377BA8; margin: 0; font-size: 1.2em;margin-left: -1em;">{{entry.id}}: {{entry.Title}}</h2>Author: <b>{{entry.Author}}</b><br/> Time: {{entry.Time}}<br/>{{entry.Text}}</li>
</ul>