<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Entry list</h2>
<ul style="list-style: none; margin: 0; padding: 0;">
    {% for entry in list %}
    <li style="margin: 0.8em 1.2em; border-style:  "><h2 style="color: #377BA8; margin: 0; font-size: 1.2em;margin-left: -1em;"><a style="color:#377BA8; text-decoration: none" href="{% url 'details' entry_id=entry.id %}">{{entry.id}}: {{entry.Title}}</a></h2>
        Author: <b>{{entry.Author}}</b><br/>
        Time: {{entry.Time}}<br/>
        How long ago: {{ entry.Time|timesince }}<br/>
        {% if entry.edited %}Edited {{ entry.edittime }} by {{entry.editauthor}}<br/> {% endif %}
        <div style="font-style:italic;border-style: dashed; border-width:1px;width: 100%">{{entry.Text}}</div></li>
    {% endfor %}
</ul>