<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% if instance.guest_name %}<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
{% else %}NIE <div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>
{% endif %}!

</body>