{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<div class="hero-unit">
    {% placeholder 'hero' or %}
    <h1>Demonstracja Django CMS</h1>
    <p>Arcyciekawy wstępniak</p>
    {% endplaceholder %}
</div>

<div class="row">
    <div class="span3">
        {% placeholder 'col-1'  or %}

        {% endplaceholder %}
    </div>
    <div class="span3">
        {% placeholder 'col-2'  or %}

        {% endplaceholder %}
    </div>
    <div class="span3">
        {% placeholder 'col-3'  or %}

        {% endplaceholder %}
    </div>
</div>
{% endblock %}