{% extends "base2.html" %}
{% load cms_tags %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa; color: #377BA8">
    {% placeholder 'links' or %}

    {% endplaceholder %}
</nav>

<form action="" method="post">
    {% csrf_token %}
    <table><tr><td>
        Title:</td><td> <input type="text" name="Title"/></td>
        </tr><tr><td>
        Author: </td> <td><input type="text" name="Author"/><br/></td>
        </tr><tr><td>
        Text :</td><td><input type="text" name="Text"/><br/></td>
        </tr>
    </table>

    <input type="submit" value="Send" />
</form>
{% endblock %}