{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<div class="row">
    <div class="span4">
        {% placeholder 'col-1'  or %}

        {% endplaceholder %}
    </div>
    <div class="span4 offset1">
        {% placeholder 'col-2'  or %}

        {% endplaceholder %}
    </div>
</div>
{% endblock %}