{% extends "base2.html" %}
{% load cms_tags %}

{% block content %}
<div class="row">
    <div class="span9">
        {% placeholder 'col-1'  or %}

        {% endplaceholder %}
    </div>
</div>
{% endblock %}