{% extends "base2.html" %}
{% load cms_tags %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa; color: #377BA8">
    {% placeholder 'links' or %}

    {% endplaceholder %}
</nav>
<div class="row">
    <div class="span9">
        {% placeholder 'entries'  or %}

        {% endplaceholder %}
    </div>
</div>
{% endblock %}