{% extends "base.html" %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    <a style="color:#377BA8" href="{% url 'index' %}">Return</a>
</nav>
<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Added Entry</h2>
{% if title %}
<p>You have added:</p>
<h2 style="color: #377BA8; margin: 0; font-size: 1.2em">{{title}}</h2>
{% endif %}
{{entry}}
{% endblock %}