{% extends "base.html" %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    {% if logged %}
    <a style="color:#377BA8" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a style="color:#377BA8" href="{% url 'login' %}">Login</a>
    {% endif %}
    <a style="color:#377BA8" href="{% url 'user_entries' %}">My Entries</a>
</nav>

<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Entry details</h2>
<ul style="list-style: none; margin: 0; padding: 0;">
    <li style="margin: 0.8em 1.2em;"><h2 style="color: #377BA8; margin: 0; font-size: 1.2em;margin-left: -1em;">{{entry.id}}: {{entry.Title}}</h2>Author: <b>{{entry.Author}}</b><br/> Time: {{entry.Time}}<br/>{{entry.Text}}</li>
</ul>
        Tags:
        {% for tag in tags %}
        <div style="font-style:italic;font-size: 0.8em;color: #377BA8;">{{ tag }}</div>
        {% endfor %}
<hr/>
{% if user.username = entry.Author %}
<p>Add tag to this entry:</p>
        <p>|
{% for tag in tags_all %}
    <a style="font-style:italic;color: #377BA8;text-decoration: none" href="{% url 'tagged' entry_id=entry_id tag_id=tag.id %}">{{ tag.title }} </a> |
{% endfor %}
</p>
        <hr/>
<p><a style="font-style:italic;color: #377BA8;text-decoration: none" href="{% url 'tag' %}">Create new tag</a></p>
{% endif %}
{% endblock %}