{% extends "base.html" %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
{% if logged %}
<a style="color:#377BA8" href="{% url 'logout' %}">Logout</a>
{% else %}
<a style="color:#377BA8" href="{% url 'register' %}">Register</a>
<a style="color:#377BA8" href="{% url 'login' %}">Login</a>
{% endif %}
<a style="color:#377BA8" href="{% url 'user_entries' %}">My Entries</a>
</nav>

<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Entries list</h2>
<a style="color:#377BA8" href="{% url 'month' month_id='1' %}">January</a>
<a style="color:#377BA8" href="{% url 'month' month_id='2' %}">February</a>
<a style="color:#377BA8" href="{% url 'month' month_id='3' %}">March</a>
<a style="color:#377BA8" href="{% url 'month' month_id='4' %}">April</a>
<a style="color:#377BA8" href="{% url 'month' month_id='5' %}">May</a>
<a style="color:#377BA8" href="{% url 'month' month_id='6' %}">June</a>
<a style="color:#377BA8" href="{% url 'month' month_id='7' %}">July</a>
<a style="color:#377BA8" href="{% url 'month' month_id='8' %}">August</a>
<a style="color:#377BA8" href="{% url 'month' month_id='9' %}">September</a>
<a style="color:#377BA8" href="{% url 'month' month_id='10' %}">October</a>
<a style="color:#377BA8" href="{% url 'month' month_id='11' %}">November</a>
<a style="color:#377BA8" href="{% url 'month' month_id='12' %}">December</a>

<ul style="list-style: none; margin: 0; padding: 0;">
{% for entry in list %}
        <li style="margin: 0.8em 1.2em;"><h2 style="color: #377BA8; margin: 0; font-size: 1.2em;margin-left: -1em;"><a style="color:#377BA8; text-decoration: none" href="{% url 'details' entry_id=entry.id %}">{{entry.id}}: {{entry.Title}}</a>
            {% if entry.Author == user.username and entry.changeable or user.status == admin or user.status == moderator %} <a style="font-style:italic;font-size: 0.6em;text-decoration:none;color: #377BA8;" href="{% url 'edit' entry_id=entry.id %}">Edit </a>{% endif %}</a>  </h2>
            Author: <b>{{entry.Author}}</b><br/>
            Time: {{entry.Time}}<br/>
            How long ago: {{ entry.Time|timesince }}<br/>
            {% if entry.edited %}Edited {{ entry.edittime }} by {{entry.editauthor}}<br/> {% endif %}
            <div style="font-style:italic;border-style: dashed; border-width:1px;width: 100%">{{entry.Text}}</div></li>
{% endfor %}
</ul>
<hr/>
{% if logged %}
<a style="color:#377BA8" href="{% url 'add' %}">Add entry</a>
<hr/>
Find By Tag:<br/>|
{% for tag in tags %}
     <a style="font-style:italic;color: #377BA8;text-decoration: none" href="{% url 'tagsearch' tag_id=tag.id %}">{{ tag }}</a> |
{% endfor %}


{% endif %}
{% endblock %}