{% extends "base.html" %}

{% block content %}


<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    <a style="color:#377BA8" href="{% url 'index' %}">Return</a></br>
</nav>
<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Log in</h2>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    {% if error %}
    <ul style="color: red;">
        <li>{{ error }}</li>
    </ul>
    {% endif %}
    <input type="submit" value="Send" />
</form>
{% endblock %}