{% extends "base.html" %}
{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    <a style="color:#377BA8" href="{% url 'index' %}">Return</a>
</nav>
<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">New user has been registered</h2>
<p>{{info}}</p>
{% endblock %}