{% extends "base.html" %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    <a style="color:#377BA8" href="{% url 'index' %}">Return</a>
</nav>
        {{ tag_id}} {{entry_id}}
<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Entry tagged</h2>
<p>You have succesfully tagged <b>{{ entry.Title }}</b> with <b>{{ tag }}</b></p>
{% endblock %}