{% extends "base.html" %}
{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    <a style="color:#377BA8" href="{% url 'index' %}">Return</a></br>
</nav>
{% if logged %}
<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">My Entries</h2>
<ul style="list-style: none; margin: 0; padding: 0;">
    {% for entry in list %}
    <li style="margin: 0.8em 1.2em;"><h2 style="color: #377BA8; margin: 0; font-size: 1.2em;margin-left: -1em;">{{entry.id}}: {{entry.Title}}</h2>Entry Author: <b>{{entry.Author}}</b><br/>{{entry.Text}}</li>
    {% endfor %}
</ul>
<hr/>
{% endif %}
{% endblock %}
